<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='/src/css/main.css') }}">
        <script src="{{ url_for('static', filename='/src/js/main.js') }}"></script>
    </head>
    <body>
        <button class="flex bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full hover:scale-150 transition-transform duration-300 ease-in-out" onclick=postbutton()>
            test
        </button>
    </body>
</html>